[Unit]
Description=Take Home L3/4 Service
Requires=network-online.target

[Service]
Type=simple
Restart=always
ExecStart=/usr/local/bin/takehomel3l4.sh

[Install]
WantedBy=multi-user.target